<div class="container">
  <div class="content-wrapper">
    <h1>Editing tree</h1>
  </div>

  <%= render "form", tree: @tree %>

  <br>

  <div class="button-wrapper", style="text-align: right;">
      <%= link_to "Show this tree", @tree, class: "list-button" %>
      <%= link_to "Back to trees", trees_path, class: "cancel-button" %>
  </div>
</div>