<div class="container">
  <div>
    <h1>Linktree</h1>
    <div>
      <%= button_to "New Tree", new_tree_path, method: :get %>
    </div>
  </div>
</div>
<!--<p>Find me in app/views/home/index.html.erb</p>-->